Brotli
click
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
Flask
Flask-Compress
future
gunicorn
h5py
itsdangerous
Jinja2
llvmlite
MarkupSafe
numba
numpy
plotly
retrying
six
Werkzeug
